<div class="container">
  <h1>{{title}}</h1>
  <hr>
  <br>
  
  <a routerLink="/">Exit</a>
  <a routerLink="/courses">Courses</a>
  <a routerLink="/image">Image</a>
  <br>
  <router-outlet></router-outlet>
  
  <br>
  <hr>
  
  app-post
  <app-post></app-post>
  
  <br>
  app-pipe
  <app-pipe></app-pipe>
  
  <br>
  
   app-like
  <app-like
    [liked]="tweet.liked"
    [totalLikes]="tweet.totalLikes"
  ></app-like>
  
  <br>
  
  app-favorite
  <app-favorite
    [is-favorite]="post.isFavorite"
    (change)="onFavoriteChange($event)"
  ></app-favorite>
  
  <br>
  
  app-button
  
  <br>
  
  app-image
  
  <br>
  
  app-courses

</div>
